version: '3.8'

services:

  nats:
    image: nats:2.10
    container_name: nats
    ports:
      - "4222:4222"   # clients
      - "8222:8222"   # monitoring
    command: 
      - "-js"
      - "-m"
      - "8222"

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # UI management

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
